<%- include('partials/header.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <h3>
                <%= foundclass.name %>
            </h3>
            <ol>
                <% for(student of foundclass.students) { %>
                    <li>
                        <%= student %>
                    </li>
                    <% } %>
            </ol>
            <a href=<%=`/classes/${foundclass._id}/edit` %> >Edit</a>
            <form action="/classes/<%=foundclass._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
    </body>

    </html>